<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <AckMessage ActionId="{{ action_id }}" TransId="{{ transaction_id }}" OriginatingRegistrarId="{{ originating_registrar_id or registrar_id }}"/>
</NZSRSRequest>
