<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <ActionDetailsQry ActionId="{{ action_id }}" />
</NZSRSRequest>
