<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <AdjustRegistrarAccount ActionId="{{ action_id }}" DomainName="{{ domain_name }}" Months="{{ months }}" RegistrarId="{{ target_registrar_id }}"
                          {% if credit %} ActionType="Credit" {% elif debit %} ActionType="Debit" {% endif %}>
    <TransactionDate Year="{{ transaction.year }}" Month="{{ transaction.month }}" Day="{{ transaction.day }}" Hour="{{ transaction.hour }}" Minute="{{ transaction.minute }}" Second="{{ transaction.second }}" {% if transaction.time_zone %} TimeZoneOffset="{{ transaction.time_zone }}" {% endif %}/>
    <BillPeriodStart Year="{{ period_start.year }}" Month="{{ period_start.month }}" Day="{{ period_start.day }}" Hour="{{ period_start.hour }}" Minute="{{ period_start.minute }}" Second="{{ period_start.second }}" {% if period_start.time_zone %} TimeZoneOffset="{{ period_start.time_zone }}" {% endif %}/>
    <BillPeriodEnd Year="{{ period_end.year }}" Month="{{ period_end.month }}" Day="{{ period_end.day }}" Hour="{{ period_end.hour }}" Minute="{{ period_end.minute }}" Second="{{ period_end.second }}" {% if period_end.time_zone %} TimeZoneOffset="{{ period_end.time_zone }}" {% endif %}/>
    <AuditText>{{ audit_text }}</AuditText>
  </AdjustRegistrarAccount>
</NZSRSRequest>
