<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <BillingAmountUpdate ActionId="{{ action_id }}">
    <BillingAmount Amount="{{ amount }}">
      {% if effective %}
        <EffectiveDate Year="{{ effective.year }}" Month="{{ effective.month }}" Day="{{ effective.day }}" Hour="{{ effective.hour }}" Minute="{{ effective.minute }}" Second="{{ effective.second }}" {% if effective.time_zone %} TimeZoneOffset="{{ effective.time_zone }}" {% endif %}/>
      {% endif %}
    </BillingAmount>
  </BillingAmountUpdate>
</NZSRSRequest>
