{% if help %}
sxc ACTION [OPTIONS]

Send XML transactions to the New Zealand Shared Registry System.

Action is one of the following:

  domain-create domain-update domain-details-query
  handle-create handle-update handle-details-query
  whois udai-valid-query action-details-query
  get-messages ack-message reset-msgq
  registrar-create registrar-update registrar-account-query registrar-details-query 
  access-control-list-add access-control-list-remove access-control-list-query
  billing-amount-query billing-amount-update adjust-registrar-account billed-until-adjustment
  deferred-income-summary-query deferred-income-detail-query
  sys-params-create sys-params-update sys-params-query
  schedule-create schedule-update schedule-cancel schedule-query
  run-log-create run-log-query
  send-xml help version

Global options are:

  --registrar-id ID                ID of your registrar
  --sign FILE                      File containing the registrar PGP key
  --password PASSWORD              Password for decrypting the registrar PGP key
  --url URL                        URL of the .nz Shared Registry System
  --certificate FILE               File containing the registry SSL certificate
  --verify FILE                    File containing the registry PGP key
  --timeout SECONDS                Number of seconds to wait for a response
  --version VERSION                Set the protocol version
  --dry-run                        Print out XML that would have been sent and then exit

Actions that require an action-id argument will have one automatically generated if one
was not specified.

Dates may be specified in multiple formats:

  DAY/MONTH/YEAR
  DAY/MONTH/YEAR HOUR:MINUTE
  DAY/MONTH/YEAR HOUR:MINUTE:SECOND
  DAY/MONTH/YEAR HOUR:MINUTE:SECOND TIMEZONE

Time zone is in the format:

  +HOUR
  -HOUR

Phone and fax numbers are specified in the format:

  COUNTRY-AREA-LOCAL
  COUNTRY-LOCAL

Handle IDs must be between 3 and 16 characters and only contain alphanumeric, underscore,
dot, dash and space.

Version is specified in the format:

  MAJOR.MINOR

Period for schedules is in the format:

  NUMBER minute
  NUMBER hour
  NUMBER day
  NUMBER month
  NUMBER year

Environment variables that are the defaults for options are:

  REGISTRAR_ID                     --registrar-id
  REGISTRAR_KEY                    --sign
  REGISTRAR_KEY_PASSWORD           --password
  REGISTRY_URL                     --url
  REGISTRY_CERTIFICATE             --certificate
  REGISTRY_KEY                     --verify

The 'help' action will display this message.

Run 'sxc help ACTION' to see which options are available for that action. The options
shown in the example command line are required.

{% elif version %}
sxc version 0.4

Copyright 2018-2019 Internet New Zealand Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

{% elif domain_create %}
Create (register) a domain name.

sxc domain-create --domain NAME --term NUMBER --registrant OPTIONS [OPTIONS]

  --target-registrar-id ID         ID of the registrar to register the domain for

  --domain NAME                    Domain name to create
  --term NUMBER                    Billing term (months)
  --delegate                       Include domain in DNS
  --ref TEXT                       Optional customer reference
   
  --registrant {ID | --name NAME --email EMAIL --address1 TEXT --city TEXT --country TEXT --phone PHONE [OPTIONS]}
      ID                           Handle ID of registrant contact
    --name NAME                    Name of registrant contact
    --email EMAIL                  Email address of registrant contact
    --privacy                      Enable privacy option
    --address1 TEXT                First address line
    --address2 TEXT                Second address line
    --city TEXT                    City name
    --province TEXT                Province name
    --country CODE                 ISO country code
    --postcode TEXT                Postcode
    --phone PHONE                  Phone number
    --fax FAX                      Fax number

  --admin OPTIONS                  Admin contact, see --registrant
  --technical OPTIONS              Techinical contact, see --registrant
  
  --nameserver HOSTNAME [OPTIONS]
      HOSTNAME                     Hostname of name server
    --ip4 ADDRESS                  IPv4 address, used only for glue records
    --ip6 ADDRESS                  IPv6 address, used only for glue records
    
  --dnssec TAG --digest DIGEST --type NUMBER --algorithm NUMBER
      TAG                          Key tag
    --digest DIGEST                Hexdigest of key
    --type NUMBER                  Digest type
    --algorithm NUMBER             Key algorithm

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif domain_update %}
Update the details domain name including transferring or cancelling.

sxc domain-update --domain NAME [OPTIONS]

  --target-registrar-ID            ID of the registrar to update the domain on

  --domain NAME                    Domain name to update
  --term NUMBER                    New billing term (months)
  --udai UDAI                      UDAI, used to transfer the domain
  --new-udai                       Generate UDAI
  --delegate                       Include domain in DNS
  --undelegate                     Remove domain from DNS
  --cancel                         Cancel domain
  --uncancel                       Uncancel domain
  --lock                           Lock domain
  --unlock                         Unlock domain
  --renew                          Renew domain for term
  --release                        Release domain
  --no-auto-renew                  Prevent auto-renewal
  --mask                           Set disclosure mask
  --unmask                         Clear disclosure mask
  --convert-contacts               Convert contacts to handles 
  --brief                          Return only brief results
  --ref TEXT                       Optional customer reference
  --no-ref                         Remove customer reference
   
  --registrant {ID | --name NAME --email EMAIL --address1 TEXT --city TEXT --country TEXT --phone PHONE [OPTIONS]}
      ID                           Handle ID of registrant contact
    --name NAME                    Name of registrant contact
    --email EMAIL                  Email address of registrant contact
    --privacy                      Enable privacy option
    --no-privacy                   Disable privacy option
    --address1 TEXT                First address line
    --address2 TEXT                Second address line
    --no-address2                  Remove second address 2
    --city TEXT                    City name
    --province TEXT                Province name
    --no-province                  Remove province name
    --country CODE                 ISO country code
    --postcode TEXT                Postcode
    --no-postcode                  Remove postcode
    --phone PHONE                  Phone number
    --fax FAX                      Fax number
    --no-fax                       Remove fax number

  --admin OPTIONS                  Admin contact, see --registrant
  --no-admin                       Remove admin contact
  --technical OPTIONS              Techinical contact, see --registrant
  --no-technical                   Remove technical contact
   
  --nameserver HOSTNAME [OPTIONS]
      HOSTNAME                     Hostname of name server
    --ip4 ADDRESS                  IPv4 address, used only for glue records
    --ip6 ADDRESS                  IPv6 address, used only for glue records
  --no-nameservers                 Delete all name servers for domain
    
  --dnssec TAG --digest DIGEST --type NUMBER --algorithm NUMBER
      TAG                          Key tag
    --digest DIGEST                Hexdigest of key
    --type NUMBER                  Digest type
    --algorithm NUMBER             Key algorithm
  --no-dnssec                      Delete all DNSSEC keys for domain

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif domain_details_query %}
Query details about a domain including history.

sxc domain-details-query --domain NAME [OPTIONS]

  --target-registrar-id ID         ID of the registrar being queried

  --domain NAME                    Domain name to query
  --term NUMBER                    Query domains having this term
  --active                         Only active domains
  --pending                        Only pending-release domains
  --delegate                       Only delegated domains
  --undelegate                     Only undelegated domains
  --ref TEXT                       Match customer reference
  --max NUMBER                     Maximum number of results
  --skip NUMBER                    Number of results to skip
  --count                          Return the number of results
  --history                        Search domain history instead

  --fields FIELD [FIELD]*
    registrar-id                   Return registrar ID
    registrar                      Return registrar name
    originating-registrar-id       Return originating registrar ID
    action-id                      Return action IDs
    term                           Return billing term
    delegate                       Return delegation state
    ref                            Return optional domain reference
    registrant                     Return registrant contact
    admin                          Return admin contact
    technical                      Return technical contact
    default-contacts               Return which are default contacts
    registered                     Return registred date
    billed-until                   Return billed-until date
    cancelled                      Return cancelled date
    effective-from                 Return effective-from date
    locked                         Return locked date
    nameservers                    Return name servers
    dnssec                         Return DNSSEC records
    audit                          Return audit text
    
  --registrant [OPTIONS]
    --name NAME                    Match registrant contact name
    --email EMAIL                  Match email address
    --privacy                      Only contacts with privacy enabled
    --no-privacy                   Only contacts with privacy disabled
    --address1 TEXT                Match first address line
    --address2 TEXT                Match second address line
    --city TEXT                    Match city name
    --province TEXT                Match province name
    --country CODE                 Match ISO country code
    --postcode TEXT                Match post code
    --phone PHONE                  Match phone number
    --fax FAX                      Match fax number

  --admin OPTIONS                  Admin contact, see --registrant
  --technical OPTIONS              Technical contact, see --registrant
  
  --nameserver [HOSTNAME] OPTIONS
      HOSTNAME                     Match hostname
    --ip4 ADDRESS                  Match IPv4 address
    --ip6 ADDRESS                  Match IPv6 address
    
  --dnssec [TAG] OPTIONS
      TAG                          Match key tag
    --digest DIGEST                Match digest
    --type NUMBER                  Match digest type
    --algorithm NUMBER             Match key algorithm

  --registered-from DATE           Only return domains registered after this date
  --registered-to DATE             Only return domains registered before this date

  --billed-from DATE               Only return domains billed after this date
  --billed-to DATE                 Only return domains billed before this date

  --cancelled-from DATE            Only return domains cancelled after this date
  --cancelled-to DATE              Only return domains canelled before this date

  --locked-from DATE               Only return domains locked after this date
  --locked-to DATE                 Only return domains locked before this date

  --action-id ID                   Match action ID
  --audit TEXT                     Match audit text
  --query-id ID                    Assign an ID for this query

{% elif handle_create %}
Create a contact handle.

sxc handle-create --handle OPTIONS [OPTIONS]

  --target-registrar-id ID         ID of the registrar to create the handle for

  --handle ID --name NAME --email EMAIL --address1 TEXT --city TEXT --country CODE --phone PHONE [OPTIONS]
      ID                           ID for handle being created
    --name NAME                    Name of contact
    --email EMAIL                  Email address of contact
    --privacy                      Enable privacy option
    --address1 TEXT                First address line
    --address2 TEXT                Second address line
    --city TEXT                    City name
    --province TEXT                Province name
    --country CODE                 ISO country code
    --postcode TEXT                Postcode
    --phone PHONE                  Phone number
    --fax FAX                      Fax number

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif handle_update %}
Update or delete a contact handle.

sxc handle-update --handle OPTIONS [OPTIONS]

  --target-registrar-id ID         ID of the registrar to update the handle on

  --handle ID --name NAME --email EMAIL [OPTIONS]
      ID                           ID for handle being updated
    --name NAME                    Name of contact
    --email EMAIL                  Email address of contact
    --privacy                      Enable privacy option
    --no-privacy                   Disable privacy option
    --address1 TEXT                First address line
    --address2 TEXT                Second address line
    --no-address2                  Remove second address line
    --city TEXT                    City name
    --province TEXT                Province name
    --no-province                  Remove province name
    --country CODE                 ISO country code
    --postcode TEXT                Postcode
    --no-postcode                  Remove postcode
    --phone PHONE                  Phone number
    --fax FAX                      Fax number
    --no-fax                       Remove fax number

  --delete                         Delete this handle

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif handle_details_query %}
Query details about a contact handle.

sxc handle-details-query [OPTIONS]

  --target-registrar-ID            ID of the registrar being queried

  --max NUMBER                     Maximum number of results
  --skip NUMBER                    Number of results to skip
  --count                          Return count of results

  --handle [ID]* [OPTIONS]
      ID                           Match handle ID
    --name NAME                    Match name
    --email EMAIL                  Match email
    --privacy                      Only handles with privacy enabled
    --no-privacy                   Only handles with privacy disabled
    --address1 TEXT                Match first address line
    --address2 TEXT                Match second address line
    --city TEXT                    Match city name
    --province TEXT                Match province name
    --country CODE                 Match ISO country code
    --postcode TEXT                Match postcode
    --phone PHONE                  Match phone number
    --fax FAX                      Match fax number

  --changed-from                   Only return handles changed after this date
  --changed-to                     Only return handles changed before this date

  --search-from                    Only search handles existing after date
  --search-to                      Only return handles existing before this date

  --query-id ID                    Assign an ID for this query

{% elif udai_valid_query %}
Check whether a UDAI is valid for a domain

sxc udai-valid-query --domain NAME --udai UDAI

  --domain NAME                    Domain name
  --udai UDAI                      UDAI for domain
  --query-id ID                    Assign an ID for this query

{% elif whois %}
Whois details for a domain.

sxc whois --domain NAME [OPTIONS]

  --domain NAME                    Domain name
  --brief                          Only return brief results
  --source-ip ADDRESS              Source IP address for rate-limiting
  --query-id ID                    Assign an ID for this query

{% elif get_messages %}
Get events that have occured for this registrar.

sxc get-messages [OPTIONS]

  --target-registrar-id ID         ID of the registrar to get messages for
  --originating-registrar-id ID    ID of the originating registrar
  --recipient-registrar-id ID      ID of the recipient registrar

  --max NUMBER                     Maximum number of returns to return
  --skip NUMBER                    Number of results to skip
  --count                          Return count of the number of results
  --queue                          Return only unacknowledged actions

  --others                         Use OTHERS are the originating-registrar-id
  --third-party                    Only return third-party actions
  --server-generated               Only return server-generated actions

  --transaction-from DATE          Only return transactions after this date
  --transaction-to DATE            Only return transactions before this date

  --action-id ID                   Match action ID
  --audit TEXT                     Match audit text 
  --query-id ID                    Assign an ID for this query

{% elif ack_message %}
Acknowledge a message in the queue.

sxc ack-message --transaction-id ID [OPTIONS]

  --target-registrar-id ID         ID of the registrar to ack messages for
  --originating-registrar-id ID    ID of the originating registrar
  --transaction-id ID              Transaction ID for that action
  --action-id ID                   Unique ID for this action

{% elif reset_msgq %}
Mark all messages as acknowledged.

sxc reset-msgq [OPTIONS]

  --target-registrar-id ID         ID of the registrar to reset the message queue for
  --action-id ID                   Unique ID for this action

{% elif action_details_query %}
Get the raw XML request and response for a previous action.

sxc action-details-query --action-id ID [OPTIONS]

  --target-registrar-id ID         ID of the registrar being queried
  --originating-registrar-id ID    ID of originating registrar
  --action-id ID                   ID of the action to show details for
  --query-id ID                    Assign an ID for this query

{% elif registrar_create %}
Create a registrar.

sxc registrar-create --target-registrar-id ID --registrar NAME --accref TEXT --public OPTIONS --private OPTIONS --technical OPTIONS [OPTIONS]

  --target-registrar-id ID         ID of the the registrar being created
  --registrar NAME                 Name of the registrar
  --website URL                    Website of the registrar
  --accref TEXT                    Accounting reference

  --public --name NAME --email EMAIL --address1 TEXT --city TEXT --country CODE --phone PHONE [OPTIONS]
    --name NAME                    Name of public contact
    --email EMAIL                  Email address of public contact
    --privacy                      Enable privacy option
    --address1 TEXT                First address line
    --address2 TEXT                Second address line
    --city TEXT                    City name
    --province TEXT                Province name
    --country CODE                 ISO country code
    --postcode TEXT                Postcode
    --phone PHONE                  Phone number
    --fax FAX                      Fax number

  --private OPTIONS                Private SRS contact, see --public
  --technical OPTIONS              Default technical contact, see --public

  --roles ROLE [ROLE]*
    connect                        Can connect to registry
    registry                       Can act as the registry
    registrar                      Can have domains
    create-domain                  Can create domains
    update-domain                  Can update domains
    cancel-domain                  Can cancel domains
    uncancel-domain                Can uncancel domains
    release-domain                 Can release domains
    query-domain                   Can query domain details
    transfer-domain                Can transfer domains
    update-registrar               Can update own detials
    update-disclosure              Can update domain disclosure mask
    administer                     Can create and update scheduled jobs
    supervisor                     Can update any registrar details
    query-acl                      Can query all ACLs
    query-registrar-acl            Can query ACLs for registrar
    query-all-domains              Can query all domains
    whois                          Can query whois details

  --pgp FILE [FILE]*               Files containing a PGP public key
  --2lds NAME [NAME]*              List of allowed second level domains
  --epp-password TEXT              EPP authentication password

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif registrar_update %}
Update a registrar.

sxc registrar-update [OPTIONS]

  --target-registrar-id ID         ID of the the registrar being updated
  --registrar NAME                 Name of the registrar
  --website URL                    Website of the registrar
  --accref TEXT                    Accounting reference

  --public {ID | --name NAME --email EMAIL --address1 TEXT --city TEXT --country CODE --phone PHONE [OPTIONS]}
      ID                           Handle ID of public contact
    --name NAME                    Name of public contact
    --email EMAIL                  Email address of public contact
    --privacy                      Enable privacy option
    --address1 TEXT                First address line
    --address2 TEXT                Second address line
    --no-address2                  Remove second address line
    --city TEXT                    City name
    --province TEXT                Province name
    --no-province                  Remove province
    --country CODE                 ISO country code
    --postcode TEXT                Postcode
    --no-postcode                  Remove postcode
    --phone PHONE                  Phone number
    --fax FAX                      Fax number
    --no-fax                       Remove fax number

  --private OPTIONS                Private SRS contact, see --public
  --technical OPTIONS              Default technical contact, see --public

  --roles ROLE [ROLE]*
    connect                        Can connect to registry
    registry                       Can act as the registry
    registrar                      Can have domains
    create-domain                  Can create domains
    update-domain                  Can update domains
    cancel-domain                  Can cancel domains
    uncancel-domain                Can uncancel domains
    release-domain                 Can release domains
    query-domain                   Can query domain details
    transfer-domain                Can transfer domains
    update-registrar               Can update own detials
    update-disclosure              Can update domain disclosure mask
    administer                     Can create and update scheduled jobs
    supervisor                     Can update any registrar details
    query-acl                      Can query all ACLs
    query-registrar-acl            Can query ACLs for registrar
    query-all-domains              Can query all domains
    whois                          Can query whois details

  --pgp FILE [FILE]*               Files containing a PGP public key
  --no-pgp                         Delete all PGP public keys
  --2ld NAME [NAME]*               List of allowed second level domains
  --no-2lds                        Delete all allowed second level domains
  --epp-password TEXT              EPP authentication password
  --no-epp-password                Clear EPP authentication password

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif registrar_details_query %}
Query details about a registrar including history.

sxc registrar-details-query [OPTONS]

  --target-registrar-id ID         ID of registrar being queried
  --registrar NAME                 Name of registrar
  --results-from DATE              Only return history results after this date
  --results-to DATE                Only return history reults before this date
  --query-id ID                    Assign an ID for this query

{% elif registrar_account_query %}
Query details about billing for a registrar's account.

sxc registrar-account-query [OPTIONS]

  --target-registrar-id ID         ID of registrar being queried
  --domain NAME                    Domain name that was billed
  --ref TEXT                       Optional customer reference
  --invoice-id ID                  Match invoice ID
  --pending                        Only pending transactions
  --confirmed                      Only confirmed transactions
  --max NUMBER                     Maximum number of results to return
  --skip NUMBER                    Number of results to skip
  --count                          Return count of number of results

  --transaction-from DATE          Only return transactions after this date
  --transaction-to DATE            Only return transactions before this date
  --invoice-from DATE              Only return invoices after this date
  --invoice-to DATE                Only return invoices before this date

  --query-id ID                    Assign an ID for this query

{% elif access_control_list_add %}
Add entries to the access control list.

sxc access-control-list-add --resource NAME {--whitelist | --blacklist} [OPTIONS]

  --resource NAME                  Name of the resource
  --whitelist                      Add to whitelist
  --blacklist                      Add to blacklist
  --brief                          Only return brief results

  --entry [OPTIONS]
    --domain NAME                  Match domain name
    --registrar-id ID              Match registrar ID
    --ip ADDRESS                   Match IP address
    --effective DATE               Entry is only effective from this date
    --comment TEXT                 Optional comment text

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif access_control_list_remove %}
Remove entries from the access control list.

sxc access-control-list-remove --resource NAME {--whitelist | --blacklist} [OPTIONS]

  --resource NAME                  Name of the resource
  --whitelist                      Remove from whitelist
  --blacklist                      Remove from blacklist
  --brief                          Only return brief results

  --entry [OPTIONS]
    --domain NAME                  Match domain name
    --registrar-id ID              Match registrar ID
    --ip ADDRESS                   Match IP address
    --comment TEXT                 Optional comment text

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif access_control_list_query %}
Query the access control list.

sxc access-control-list-query [OPTIONS]

  --resource NAME                  Name for resource
  --whitelist                      Entries from whitelist
  --blacklist                      Entries from blacklist
  --type [TYPE] [TYPE]*            Type of entries to query
    domain                         Entries with domain name
    registrar-id                   Entries with registrar ID
    ip                             Entries with IP address
  --full                           Return full result

  --entry [OPTIONS]
    --domain NAME                  Match domain name
    --registrar-id ID              Match registrar ID    
    --ip ADDRESS                   Match IP address

  --query-id ID                    Assign an ID for this query

{% elif billed_until_adjustment %}
Adjust the billed-until date for a domain.

sxc billed-until-adjustment --domain NAME --billed-until DATE [OPTIONS]

  --target-registrar-ID            ID of the target registrar that has the domain
  --domain NAME                    Domain name being updated
  --billed-until DATE              New billed-until date
  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif adjust_registrar_account %}
Adjust the billing of a domain.

sxc adjust-registrar-account --domain NAME --months NUMBER {--credit | --debit} --transaction DATE --period-start DATE --period-end DATE [OPTIONS]

  --domain-name NAME               Domain name being billed
  --months NUMBER                  Number of months being billed
  --credit                         Apply as a credit
  --debit                          Apply as a debit
  --transaction DATE               Date adjustment transaction occurred
  --period-start DATE              Billing period start date
  --period-end DATE                Billing period end date
  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif billing_amount_update %}
Update the domain term billing amount.

sxc billing-amount-update --amount DOLLARS [OPTIONS]

  --amount DOLLARS                 New billing amount
  --effective DATE                 Amount is only effective from this date

  --action-id ID                   Unique ID for this action

{% elif billing_amount_query %}
Query details about the domain term billing amount.

sxc billing-amount-query [OPTIONS]

  --query-id ID                    Assign an ID for this query

{% elif deferred_income_detail_query %}
Query details abount deferred income.

sxc deferred-income-detail-query --base-month NUMBER --base-year NUMBER --income-month NUMBER --income-year NUMBER

  --base-month NUMBER              Only transactions that occurred before this month
  --base-year NUMBER               Only transactions that occured before this year
  --income-month NUMBER            Month the Transactions occurred
  --income-year NUMBER             Year the transactions occurred
  --query-id ID                    Assign an ID for this query

{% elif deferred_income_summary_query %}
Get a summary of deferred income.

sxc deferred-income-summary-query --base-month NUMBER --base-year NUMBER --income-month NUMBER --income-year NUMBER

  --base-month NUMBER              Only transactions that occurred before this month
  --base-year NUMBER               Only transactions that occured before this year
  --income-month NUMBER            Month the transactions occurred
  --income-year NUMBER             Year the transactions occurred
  --query-id ID                    Assign an ID for this query

{% elif sys_params_create %}
Create a system parameter.

sxc sys-params-create --name TEXT --value TEXT [OPTIONS]

  --name TEXT                      Name of parameter
  --value TEXT                     Value for parameter

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference
  --query-id ID                    Assign an ID for this query

{% elif sys_params_update %}
Update a system parameter.

sxc sys-params-update --name TEXT --value TEXT [OPTIONS]

  --name TEXT                      Name of parameter
  --value TEXT                     Value for parameter

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif sys_params_query %}
Get a list of system parameters.

sxc sys-params-query [OPTIONS]

  --query-id ID                    Assign an ID for this query

{% elif schedule_create %}
Create a scheduled job.

sxc schedule-create --process NAME --frequency PERIOD --first-run DATE [OPTIONS]

  --process NAME                   Name of scheduled job
  --frequency PERIOD               Run frequency
  --parameters TEXT                Optional additional parameters

  --first-run DATE                 Run job from this date
  --final-run DATE                 Run job until this date

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif schedule_update %}
Update a scheduled job.

sxc schedule-update --process NAME --first-run DATE [OPTIONS]

  --process NAME                   Name of scheduled job
  --frequency PERIOD               Run frequency
  --parameters TEXT                Optional additional parameters
  --cancel                         Perform a schedule-cancel action instead

  --first-run DATE                 First run date for this job
  --last-run DATE                  Last run date for this job

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif schedule_cancel %}
Cancel a scheduled job.

sxc schedule-cancel --process NAME --first-run DATE [OPTIONS]

  --process NAME                   Name of scheduled job
  --parameters TEXT                Parameters for scheduled job

  --first-run DATE                 First run date for this job

  --action-id ID                   Unique ID for this action
  --audit TEXT                     Optional action reference

{% elif schedule_query %}
Query details about scheduled jobs.

sxc schedule-query [OPTIONS]

  --process NAME                   Name of scheduled job
  --parameters TEXT                Parameters for scheduled job
  --first-run DATE                 Only return jobs that first ran on this date
  --active-on DATE                 Only return jobs that were still active on this date
  --query-id ID                    Assign an ID for this query

{% elif run_log_create %}
Create a run log for a scheduled job.

sxc run-log-create --process NAME {--success | --failure} --first-run DATE --logged DATE

  --process NAME                   Name of scheduled job
  --parameters TEXT                Parameters for scheduled job
  --success                        Job executed sucessfully
  --failure                        Job execution failed
  --control                        Control information
  --logged DATE                    Date the job ran on
  --first-run DATE                 First run date for this job
  --action-id ID                   Optional action reference

{% elif run_log_query %}
Query the run logs.

sxc run-log-query [OPTIONS]

  --process NAME                   Name of process
  --parameters TEXT                Process parameters
  --logged-from DATE               Only return logs after this date
  --logged-to DATE                 Only return logs before this date
  --query-id ID                    Assign an ID for this query

{% elif send_xml %}
Send a raw XML request, will use stdin if no input file is specified.

sxc send-xml [OPTIONS]

  --file FILE                      File containing the XML

{% else %}
Sorry, no help avilable for that action.

{% endif %}
