<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <DeferredIncomeSummaryQry BaseMonth="{{ base_month }}" BaseYear="{{ base_year }}" IncomeMonth="{{ income_month }}" IncomeYear="{{ income_year }}" />
</NZSRSRequest>
