<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <DomainUpdate ActionId="{{ action_id }}"
                {% if full_result is defined %} FullResult="{{ full_result | int }}" {% endif %}
                {% if term is defined %} Term="{{ term }}" {% endif %}
                {% if delegate is defined %} Delegate="{{ delegate | int }}" {% endif %}
                {% if udai %} UDAI="{{ udai }}" {% endif %}
                {% if new_udai %} NewUDAI="{{ new_udai | int }}" {% endif %}
                {% if cancel is defined %} Cancel="{{ cancel | int }}" {% endif %}
                {% if renew %} Renew="{{ renew | int }}" {% endif %}
                {% if release %} Release="{{ release | int }}" {% endif %}
                {% if no_auto_renew %} NoAutoRenew="{{ no_auto_renew | int }}" {% endif %}
                {% if lock is defined %} Lock="{{ lock | int }}" {% endif %}
                {% if disclosure_mask is defined %} DisclosureMask="{{ disclosure_mask | int }}" {% endif %}
                {% if convert_contacts %} ConvertContactsToHandles="{{ convert_contacts | int }}" {% endif %}
                {% if registrant_ref or no_registrant_ref %} RegistrantRef="{{ registrant_ref }}" {% endif %}>
    {% for domain_name in domain_names %}
      <DomainNameFilter>{{ domain_name }}</DomainNameFilter>
    {% endfor %}
    {% if registrant %}
      {% if registrant.handle_id %}
        <RegistrantContact HandleId="{{ registrant.handle_id }}" />
      {% else %}
        <RegistrantContact {% if registrant.name %} Name="{{ registrant.name }}" {% endif %}
                           {% if registrant.email_address %} Email="{{ registrant.email_address }}" {% endif %}
                           {% if registrant.privacy is defined %} Privacy="{{ registrant.privacy | int }}" {% endif %}>
          {% if registrant.postal_address1 or registrant.postal_city or registrant.postal_country %}
            <PostalAddress Address1="{{ registrant.postal_address1 }}"
                           {% if registrant.postal_address2 or registrant.no_postal_address2 %} Address2="{{ registrant.postal_address2 }}" {% endif %}
                           City="{{ registrant.postal_city }}"
                           {% if registrant.postal_province or registrant.no_postal_province %} Province="{{ registrant.postal_province }}" {% endif %}
                           CountryCode="{{ registrant.postal_country }}"
                           {% if registrant.postal_code or registrant.no_postal_code %} PostalCode="{{ registrant.postal_code }}" {% endif %}/>
          {% endif %}
          {% if registrant.phone %}
            <Phone CountryCode="{{ registrant.phone.country_code }}" {% if registrant.phone.area_code %} AreaCode="{{ registrant.phone.area_code }}" {% endif %} LocalNumber="{{ registrant.phone.local_number }}"/>
          {% endif %} 
          {% if registrant.fax %}
            <Fax CountryCode="{{ registrant.fax.country_code }}" {% if registrant.fax.area_code %} AreaCode="{{ registrant.fax.area_code }}" {% endif %} LocalNumber="{{ registrant.fax.local_number }}"/>
          {% elif registrant.no_fax %}
            <Fax />
          {% endif %}
        </RegistrantContact>
      {% endif %}
    {% endif %}
    {% if admin %}
      {% if admin.handle_id %}
        <AdminContact HandleId="{{ admin.handle_id }}" />
      {% else %}
        <AdminContact {% if admin.name %} Name="{{ admin.name }}" {% endif %}
                      {% if admin.email_address %} Email="{{ admin.email_address }}" {% endif %}
                      {% if admin.privacy is defined %} Privacy="{{ admin.privacy | int }}" {% endif %}>
          {% if admin.postal_address1 or admin.postal_city or admin.postal_country %}
            <PostalAddress Address1="{{ admin.postal_address1 }}"
                           {% if admin.postal_address2 or admin.no_postal_address2 %} Address2="{{ admin.postal_address2 }}" {% endif %}
                           City="{{ admin.postal_city }}"
                           {% if admin.postal_province or admin.no_postal_province %} Province="{{ admin.postal_province }}" {% endif %}
                           CountryCode="{{ admin.postal_country }}"
                           {% if admin.postal_code or admin.no_postal_code %} PostalCode="{{ admin.postal_code }}" {% endif %}/>
          {% endif %}
          {% if admin.phone %}
            <Phone CountryCode="{{ admin.phone.country_code }}" {% if admin.phone.area_code %} AreaCode="{{ admin.phone.area_code }}" {% endif %} LocalNumber="{{ admin.phone.local_number }}"/>
          {% endif %} 
          {% if admin.fax %}
            <Fax CountryCode="{{ admin.fax.country_code }}" {% if admin.fax.area_code %} AreaCode="{{ admin.fax.area_code }}" {% endif %} LocalNumber="{{ admin.fax.local_number }}"/>
          {% elif admin.no_fax %}
            <Fax />
          {% endif %}
        </AdminContact>
      {% endif %}
    {% elif no_admin %}
      <AdminContact />
    {% endif %}
    {% if technical %}
      {% if technical.handle_id %}
        <TechnicalContact HandleId="{{ technical.handle_id }}" />
      {% else %}
        <TechnicalContact {% if technical.name %} Name="{{ technical.name }}" {% endif %}
                          {% if technical.email_address %} Email="{{ technical.email_address }}" {% endif %}
                          {% if technical.privacy is defined %} Privacy="{{ technical.privacy | int }}" {% endif %}>
          {% if technical.postal_address1 or technical.postal_city or technical.postal_country %}
            <PostalAddress Address1="{{ technical.postal_address1 }}"
                           {% if technical.postal_address2 or technical.no_postal_address2 %} Address2="{{ technical.postal_address2 }}" {% endif %}
                           City="{{ technical.postal_city }}"
                           {% if technical.postal_province or technical.no_postal_province  %} Province="{{ technical.postal_province }}" {% endif %}
                           CountryCode="{{ technical.postal_country }}"
                           {% if technical.postal_code or technical.no_postal_code %} PostalCode="{{ technical.postal_code }}" {% endif %}/>
          {% endif %}
          {% if technical.phone %}
            <Phone CountryCode="{{ technical.phone.country_code }}" {% if technical.phone.area_code %} AreaCode="{{ technical.phone.area_code }}" {% endif %} LocalNumber="{{ technical.phone.local_number }}"/>
          {% endif %} 
          {% if technical.fax %}
            <Fax CountryCode="{{ technical.fax.country_code }}" {% if technical.fax.area_code %} AreaCode="{{ technical.fax.area_code }}" {% endif %} LocalNumber="{{ technical.fax.local_number }}"/>
          {% elif technical.no_fax %}
            <Fax />
          {% endif %}
        </TechnicalContact>
      {% endif %}
    {% elif no_technical %}
      <TechnicalContact />
    {% endif %}
    {% if name_servers %}
      <NameServers>
        {% for name_server in name_servers %}
          <Server FQDN="{{ name_server.hostname }}"
                  {% if name_server.ipv4_address %} IP4Addr="{{ name_server.ipv4_address }}" {% endif %}
                  {% if name_server.ipv6_address %} IP6Addr="{{ name_server.ipv6_address }}" {% endif %}/>
        {% endfor %}
      </NameServers>
    {% elif no_name_servers %}
      <NameServers />
    {% endif %}
    {% if dnssec_keys %}
      <DNSSEC>
        {% for dnssec_key in dnssec_keys %}
          <DS KeyTag="{{ dnssec_key.key_tag }}" Algorithm="{{ dnssec_key.algorithm }}" DigestType="{{ dnssec_key.digest_type }}">
            <Digest>{{ dnssec_key.digest }}</Digest>
          </DS>
        {% endfor %}
      </DNSSEC>
    {% elif no_dnssec_keys %}
      <DNSSEC />
    {% endif %}
    {% if audit_text %} <AuditText>{{ audit_text }}</AuditText> {% endif %}
  </DomainUpdate>
</NZSRSRequest>
