<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <HandleCreate ActionId="{{ action_id }}" HandleId="{{ handle.handle_id }}" Name="{{ handle.name }}" Email="{{ handle.email_address }}"
                {% if handle.privacy is defined %} Privacy="{{ handle.privacy | int }}" {% endif %}>
    <PostalAddress Address1="{{ handle.postal_address1 }}"
                   {% if handle.postal_address2 %} Address2="{{ handle.postal_address2 }}" {% endif %}
                   City="{{ handle.postal_city }}"
                   {% if handle.postal_province %} Province="{{ handle.postal_province }}" {% endif %}
                   CountryCode="{{ handle.postal_country }}"
                   {% if handle.postal_code %} PostCode="{{ handle.postal_code }}" {% endif %}/>
    <Phone CountryCode="{{ handle.phone.country_code }}" AreaCode="{{ handle.phone.area_code }}" LocalNumber="{{ handle.phone.local_number }}"/>
    {% if handle.fax %}
      <Fax CountryCode="{{ handle.fax.country_code }}" AreaCode="{{ handle.fax.area_code }}" LocalNumber="{{ handle.fax.local_number }}"/>
    {% endif %}
    {% if audit_text %} <AuditText>{{ audit_text }}</AuditText> {% endif %}
  </HandleCreate>
</NZSRSRequest>
