<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <HandleUpdate ActionId="{{ action_id }}" HandleId="{{ handle.handle_id }}" Name="{{ handle.name }}" Email="{{ handle.email_address }}"
                {% if handle.privacy is defined %} Privacy="{{ handle.privacy | int }}" {% endif %}
                {% if delete %} Delete="{{ delete | int }}" {% endif %}>
    {% if handle.postal_address1 or handle.postal_city or handle.postal_country %}
      <PostalAddress Address1="{{ handle.postal_address1 }}"
                     {% if handle.postal_address2 or handle.no_postal_address2 %} Address2="{{ handle.postal_address2 }}" {% endif %}
                     City="{{ handle.postal_city }}"
                     {% if handle.postal_province or handle.no_postal_province %} Province="{{ handle.postal_province }}" {% endif %}
                     CountryCode="{{ handle.postal_country }}"
                     {% if handle.postal_code or handle.no_postal_code %} PostalCode="{{ handle.postal_code }}" {% endif %}/>
    {% endif %}
    {% if handle.phone %}
      <Phone CountryCode="{{ handle.phone.country_code }}" AreaCode="{{ handle.phone.area_code }}" LocalNumber="{{ handle.phone.local_number }}"/>
    {% endif %} 
    {% if handle.fax %}
      <Fax CountryCode="{{ handle.fax.country_code }}" AreaCode="{{ handle.fax.area_code }}" LocalNumber="{{ handle.fax.local_number }}"/>
    {% elif handle.no_fax %}
       <Fax />
    {% endif %}
  </HandleUpdate>
</NZSRSRequest>
