<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <HandleDetailsQry {% if query_id %} QryId="{{ query_id }}" {% endif %}
                    {% if max_results is defined %} MaxResults="{{ max_results }}" {% endif %}
                    {% if skip_results is defined %} SkipResults="{{ skip_results }}" {% endif %}
                    {% if count_results %} CountResults="{{ count_results | int }}" {% endif %}>
    {% if handle %}
      {% for handle_id in handle.handle_ids %}
        <HandleIdFilter>{{ handle_id }}</HandleIdFilter>
      {% endfor %}
    {% endif %}
    {% if search_from or search_to %}
      <SearchDateRange>
        {% if search_from %}
          <From Year="{{ search_from.year }}" Month="{{ search_from.month }}" Day="{{ search_from.day }}" Hour="{{ search_from.hour }}" Minute="{{ search_from.minute }}" Second="{{ search_from.second }}" {% if search_from.time_zone %} TimeZoneOffset="{{ search_from.time_zone }}" {% endif %}/>
        {% endif %}
        {% if search_to %}
          <To Year="{{ search_to.year }}" Month="{{ search_to.month }}" Day="{{ search_to.day }}" Hour="{{ search_to.hour }}" Minute="{{ search_to.minute }}" Second="{{ search_to.second }}" {% if search_to.time_zone %} TimeZoneOffset="{{ search_to.time_zone }}" {% endif %}/>
        {% endif %}
      </SearchDateRange>
    {% endif %}
    {% if change_from or change_to %}
      <ChangedInDateRange>
        {% if change_from %}
          <From Year="{{ change_from.year }}" Month="{{ change_from.month }}" Day="{{ change_from.day }}" Hour="{{ change_from.hour }}" Minute="{{ change_from.minute }}" Second="{{ change_from.second }}" {% if change_from.time_zone %} TimeZoneOffset="{{ changed_from.time_zone }}" {% endif %}/>
        {% endif %}
        {% if change_to %}
          <To Year="{{ change_to.year }}" Month="{{ change_to.month }}" Day="{{ change_to.day }}" Hour="{{ change_to.hour }}" Minute="{{ change_to.minute }}" Second="{{ change_to.second }}" {% if change_to.time_zone %} TimeZoneOffset="{{ change_to.time_zone }}" {% endif %}/>
        {% endif %}
      </ChangedInDateRange>
    {% endif %}
    {% if handle %}
      {% if handle.name or handle.email or handle.email_address or handle.privacy is defined or handle.postal_address1 or handle.postal_address2 or handle.postal_city or handle.postal_province or handle.postal_country or handle.postal_code or handle.phone or handle.fax %}
        <ContactFilter {% if handle.name %} Name="{{ handle.name }}" {% endif %}
                       {% if handle.email_address %} Email="{{ handle.email_address }}" {% endif %}
                       {% if handle.privacy is defined %} Privacy="{{ handle.privacy | int }}" {% endif %}>
          {% if handle.postal_address1 or handle.postal_address2 or handle.postal_city or handle.postal_province or handle.postal_country or handle.postal_code %}
            <PostalAddressFilter {% if handle.postal_address1 %} Address1="{{ handle.postal_address1 }}" {% endif %}
                                 {% if handle.postal_address2 %} Address2="{{ handle.postal_address2 }}" {% endif %}
                                 {% if handle.postal_city %} City="{{ handle.postal_city }}" {% endif %}
                                 {% if handle.postal_province %} Province="{{ handle.postal_province }}" {% endif %}
                                 {% if handle.postal_country %} CountryCode="{{ handle.postal_country }}" {% endif %}
                                 {% if handle.postal_code %} PostalCode="{{ handle.postal_code }}" {% endif %}/>
          {% endif %}
          {% if handle.phone %}
            <Phone CountryCode="{{ handle.phone.country_code }}" {% if handle.phone.area_code %} AreaCode="{{ handle.phone.area_code }}" {% endif %} LocalNumber="{{ handle.phone.local_number }}"/>
          {% endif %}
          {% if handle.fax %}
            <Fax CountryCode="{{ handle.fax.country_code }}" {% if handle.fax.area_code %} AreaCode="{{ handle.fax.area_code }}" {% endif %} LocalNumber="{{ handle.fax.local_number }}"/>
          {% endif %}
        </ContactFilter>
      {% endif %}
    {% endif %}
  </HandleDetailsQry>
</NZSRSRequest>
