<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <RegistrarCreate ActionId="{{ action_id }}" RegistrarId="{{ target_registrar_id }}" Name="{{ registrar_name }}" AccRef="{{ account_ref }}"
                   {% if website %} URL="{{ website }}" {% endif %}>
    <RegistrarPublicContact Name="{{ public.name }}" Email="{{ public.email_address }}">
      <PostalAddress Address1="{{ public.postal_address1 }}"
                     {% if public.postal_address2 %} Address2="{{ public.postal_address2 }}" {% endif %}
                     City="{{ public.postal_city }}"
                     {% if public.postal_province %} Province="{{ public.postal_province }}" {% endif %}
                     CountryCode="{{ public.postal_country }}"
                     {% if public.postal_code %} PostalCode="{{ public.postal_code }}" {% endif %}/>
      <Phone CountryCode="{{ public.phone.country_code }}" AreaCode="{{ public.phone.area_code }}" LocalNumber="{{ public.phone.local_number }}"/>
      {% if public.fax %}
        <Fax CountryCode="{{ public.fax.country_code }}" AreaCode="{{ public.fax.area_code }}" LocalNumber="{{ public.fax.local_number }}"/>
      {% endif %}
    </RegistrarPublicContact>
    <RegistrarSRSContact Name="{{ private.name }}" Email="{{ private.email_address }}">
      <PostalAddress Address1="{{ private.postal_address1 }}"
                     {% if private.postal_address2 %} Address2="{{ private.postal_address2 }}" {% endif %}
                     City="{{ private.postal_city }}"
                     {% if private.postal_province %} Province="{{ private.postal_province }}" {% endif %}
                     CountryCode="{{ private.postal_country }}"
                     {% if private.postal_code %} PostalCode="{{ private.postal_code }}" {% endif %}/>
      <Phone CountryCode="{{ private.phone.country_code }}" AreaCode="{{ private.phone.area_code }}" LocalNumber="{{ private.phone.local_number }}"/>
      {% if private.fax %}
        <Fax CountryCode="{{ private.fax.country_code }}" AreaCode="{{ private.fax.area_code }}" LocalNumber="{{ private.fax.local_number }}"/>
      {% endif %}
    </RegistrarSRSContact>
    <DefaultTechnicalContact Name="{{ technical.name }}" Email="{{ technical.email_address }}">
      <PostalAddress Address1="{{ technical.postal_address1 }}"
                     {% if technical.postal_address2 %} Address2="{{ technical.postal_address2 }}" {% endif %}
                     City="{{ technical.postal_city }}"
                     {% if technical.postal_province %} Province="{{ technical.postal_province }}" {% endif %}
                     CountryCode="{{ technical.postal_country }}"
                     {% if technical.postal_code %} PostalCode="{{ technical.postal_code }}" {% endif %}/>
      <Phone CountryCode="{{ technical.phone.country_code }}" AreaCode="{{ technical.phone.area_code }}" LocalNumber="{{ technical.phone.local_number }}"/>
      {% if technical.fax %}
        <Fax CountryCode="{{ technical.fax.country_code }}" AreaCode="{{ technical.fax.area_code }}" LocalNumber="{{ technical.fax.local_number }}"/>
      {% endif %}
    </DefaultTechnicalContact>
    {% if pgp_keys %}
      <EncryptKeys>
        {% for pgp_key in pgp_keys %}
          <EncryptKey>{{ pgp_key }}</EncryptKey>
        {% endfor %}
      </EncryptKeys>
    {% endif %}
    {% if password %} <EPPAuth Password="{{ password }}" /> {% endif %}
    {% if allowed_2lds %}
      <Allowed2LDs>
        {% for allowed_2ld in allowed_2lds %}
          <SecondLD DomainName="{{ allowed_2ld }}" />
        {% endfor %}
      </Allowed2LDs>
    {% endif %}
    {% if roles %}
      <Roles>
        {% if roles.connect %} <Role RoleName="Connect" /> {% endif %}
        {% if roles.registry %} <Role RoleName="Registry" /> {% endif %}
        {% if roles.registrar %} <Role RoleName="Registrar" /> {% endif %}
        {% if roles.create_domain %} <Role RoleName="CreateDomain" /> {% endif %}
        {% if roles.update_domain %} <Role RoleName="UpdateDomain" /> {% endif %}
        {% if roles.cancel_domain %} <Role RoleName="CancelDomain" /> {% endif %}
        {% if roles.uncancel_domain %} <Role RoleName="UncancelDomain" /> {% endif %}
        {% if roles.release_domain %} <Role RoleName="ReleaseDomain" /> {% endif %}
        {% if roles.update_disclosure %} <Role RoleName="UpdateAnyDomainDisclosure" /> {% endif %}
        {% if roles.transfer_domain %} <Role RoleName="TransferDomain" /> {% endif %}
        {% if roles.update_registrar %} <Role RoleName="UpdateRegistrar" /> {% endif %}
        {% if roles.whois %} <Role RoleName="Whois" /> {% endif %}
        {% if roles.query_domain %} <Role RoleName="Query" /> {% endif %}
        {% if roles.query_all_domains %} <Role RoleName="QueryAllDomains" /> {% endif %}
        {% if roles.administer %} <Role RoleName="Administer" /> {% endif %}
        {% if roles.supervisor %} <Role RoleName="Supervisor" /> {% endif %}
        {% if roles.query_acl %} <Role RoleName="QueryACL" /> {% endif %}
        {% if roles.query_reg_acl %} <Role RoleName="QueryRegACL" /> {% endif %}
        {% if roles.update_acl %} <Role RoleName="UpdateACL" /> {% endif %}
      </Roles>
    {% endif %}
    {% if audit_text %} <AuditText>{{ audit_text }}</AuditText> {% endif %}
  </RegistrarCreate>
</NZSRSRequest>
