<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}" {% if target_registrar_id %} RegistrarId="{{ target_registrar_id }}" {% endif %}>
  <RegistrarAccountQry {% if query_id %} QryId="{{ query_id }}" {% endif %}
                       {% if domain_name %} DomainName="{{ domain_name }}" {% endif %}
                       {% if registrant_ref %} RegistrantRef="{{ registrant_ref }}" {% endif %}
                       {% if invoice_id %} InvoiceId="{{ invoice_id }}" {% endif %}
                       {% if pending %} TransStatus="PendingConfirmaton" {% elif confirmed %} TransStatus="Confirmed" {% endif %}
                       {% if max_results is defined %} MaxResults="{{ max_results }}" {% endif %}
                       {% if skip_results is defined %} SkipResults="{{ skip_results }}" {% endif %}
                       {% if count_results %} CountResults="{{ count_results | int }}" {% endif %}>
    {% if transaction_from or transaction_to %}
      <TransDateRange>
        {% if transaction_from %}
          <From Year="{{ transaction_from.year }}" Month="{{ transaction_from.month }}" Day="{{ transaction_from.day }}" Hour="{{ transaction_from.hour }}" Minute="{{ transaction_from.minute }}" Second="{{ transaction_from.second }}" {% if transaction_from.time_zone %} TimeZoneOffset="{{ transaction_from.time_zone }}" {% endif %}/>
        {% endif %}
        {% if transaction_to %}
          <To Year="{{ transaction_to.year }}" Month="{{ transaction_to.month }}" Day="{{ transaction_to.day }}" Hour="{{ transaction_to.hour }}" Minute="{{ transaction_to.minute }}" Second="{{ transaction_to.second }}" {% if transaction_to.time_zone %} TimeZoneOffset="{{ transaction_to.time_zone }}" {% endif %}/>
        {% endif %}
      </TransDateRange>
    {% endif %}
    {% if invoice_from or invoice_to %}
      <InvoiceDateRange>
        {% if invoice_from %}
          <From Year="{{ invoice_from.year }}" Month="{{ invoice_from.month }}" Day="{{ invoice_from.day }}" Hour="{{ invoice_from.hour }}" Minute="{{ invoice_from.minute }}" Second="{{ invoice_from.second }}" {% if invoice_from.time_zone %} TimeZoneOffset="{{ invoice_from.time_zone }}" {% endif %}/>
        {% endif %}
        {% if invoice_to %}
          <To Year="{{ invoice_to.year }}" Month="{{ invoice_to.month }}" Day="{{ invoice_to.day }}" Hour="{{ invoice_to.hour }}" Minute="{{ invoice_to.minute }}" Second="{{ invoice_to.second }}" {% if invoice_to.time_zone %} TimeZoneOffset="{{ invoice_to.time_zone }}" {% endif %}/>
        {% endif %}
      </InvoiceDateRange>
    {% endif %}
  </RegistrarAccountQry>
</NZSRSRequest>
