<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <RunLogQry {% if query_id %} QryId="{{ query_id }}" {% endif %}
             {% if process_name %} ProcessName="{{ process_name }}" {% endif %}
             {% if parameters %} Parameters="{{ parameters }}" {% endif %}>
    {% if logged_from or logged_to %}
      <LogDateRange>
        {% if logged_from %}
          <From Year="{{ logged_from.year }}" Month="{{ logged_from.month }}" Day="{{ logged_from.day }}" Hour="{{ logged_from.hour }}" Minute="{{ logged_from.minute }}" Second="{{ logged_from.second }}" {% if logged_from.time_zone %} TimeZoneOffset="{{ logged_from.time_zone }}" {% endif %}/>
        {% endif %}
        {% if logged_to %}
          <To Year="{{ logged_to.year }}" Month="{{ logged_to.month }}" Day="{{ logged_to.day }}" Hour="{{ logged_to.hour }}" Minute="{{ logged_to.minute }}" Second="{{ logged_to.second }}" {% if logged_to.time_zone %} TimeZoneOffset="{{ logged_to.time_zone }}" {% endif %}/>
        {% endif %}
      </LogDateRange>
    {% endif %}
  </RunLogQry>
</NZSRSRequest>
