<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <ScheduleCancel ActionId="{{ action_id }}" ProcessName="{{ process_name }}"
                  {% if parameters %} Parameters="{{ parameters }}" {% endif %}>
    <FirstRunDate Year="{{ first_run.year }}" Month="{{ first_run.month }}" Day="{{ first_run.day }}" Hour="{{ first_run.hour }}" Minute="{{ first_run.minute }}" Second="{{ first_run.second }}" {% if first_run.time_zone %} TimeZoneOffset="{{ first_run.time_zone }}" {% endif %}/>
    {% if audit_text %} <AuditText>{{ audit_text }}</AuditText> {% endif %}
  </ScheduleCancel>
</NZSRSRequest>
