<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <SysParamsUpdate ActionId="{{ action_id }}">
    <SysParam Name="{{ name }}">
      <ParamValue>{{ value }}</ParamValue>
    </SysParam> 
    {% if audit_text %} <AuditText>{{ audit_text }}</AuditText> {% endif %}
  </SysParamsUpdate>
</NZSRSRequest>
