<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <UDAIValidQry DomainName="{{ domain_name }}" UDAI="{{ udai }}"
                {% if query_id %} QryId="{{ query_id }}" {% endif %}/>
</NZSRSRequest>
