<NZSRSRequest VerMajor="{{ version_major }}" VerMinor="{{ version_minor }}">
  <Whois DomainName="{{ domain_name }}"
         {% if full_result is defined %} FullResult="{{ full_result | int }}" {% endif %}
         {% if source_address %} SourceIP="{{ source_address }}" {% endif %}/>
</NZSRSRequest>
